:host {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

.content {
  display: flex;
  margin: 100px auto;
  width: 605px;
  flex-direction: row;
  align-items: center;
  font-family: Roboto Condensed, sans-serif;
}

.content-logo img {
  height: 350px;
  margin: 20px; 
}

.content-logo {
  margin-top:30px;
  background-color:#AB1E37; 
}

.content-forms {
  align-items: center;
  margin-top:30px;
  height: 390px;
  width: 390px;
  background:rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  border-color: #AB1E37;
}

