:host {
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

.content {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 720px;
  flex-direction: row;
  align-items: center;
  font-family: Roboto Condensed, sans-serif;
}

.content-logo img {
  height: 420px;
  margin: 20px; 
}

.content-logo {
  background-color:#AB1E37; 
}

.content-forms {
  align-items: center;
  height: 460px;
  width: 460px;
  background:rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  border-color: #AB1E37;
}

