<div class="container">
    <form (ngSubmit)="onSubmit()" #contractForm="ngForm">
      <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="nameLabel">Name</span>
            </div>
            <input type="text"
            class="form-control"
            [(ngModel)]="model.name"
            (ngModelChange)="modelChanged($event);ttname.close()"
            id="nameId"
            name="name"
            ngbTooltip="{{ttnameContentModel}}"
            placement="right"
            [autoClose]="false"
            triggers="manual"
            #ttname="ngbTooltip">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="dateOfBirthLabel">Geburtsdatum</span>
            </div>
            <input class="form-control"
                placeholder="tt.mm.yyyy"
                [(ngModel)]="model.dateOfBirth"
                (ngModelChange)="modelChanged($event);ttcalendar.close()"
                name="dateOfBirth"
                ngbDatepicker #d="ngbDatepicker"
                id="dateOfBirthId"
                (click)="d.toggle();d.navigateTo(
                    {year:!model.dateOfBirth?1980:model.dateOfBirth.year,
                    month:!model.dateOfBirth?1:model.dateOfBirth.month})">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary clear"
                  (click)="clear(); modelChanged(null)"
                  type="button">
                </button>
                <button class="btn btn-outline-secondary calendar"
                  (click)="d.toggle();d.navigateTo(
                    {year:!model.dateOfBirth?1980:model.dateOfBirth.year,
                    month:!model.dateOfBirth?1:model.dateOfBirth.month})"
                  type="button"
                  ngbTooltip="{{ttcalendarContentModel}}"
                  placement="right"
                  [autoClose]="false"
                  triggers="manual"
                  #ttcalendar="ngbTooltip">
                </button>
            </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="countryLabel">Wohnort</span>
          </div>
          <select
          class="form-control"
          [(ngModel)]="model.country"
          (ngModelChange)="modelChanged($event);ttcountry.close()"
          id="countryId"
          name="country"
          ngbTooltip="{{ttcountryContentModel}}"
          placement="right"
          [autoClose]="false"
          triggers="manual"
          #ttcountry="ngbTooltip">
            <option *ngFor="let country of countries" [value]="country">
              {{country}}</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn submission" id="calculationButtonId">Berechnen</button>  
    </form>
</div>
<div class="result">
    <p id="premiumId">{{premium | currency : 'EUR'}}</p>
</div>
