/* You can add global styles to this file, and also import other style files */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

html { height: 100%; }
body {
  margin: 0;
  background: #9bd2dc url('assets/img/playground_city_only.svg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position:top center;
}

.ngb-dp-weekday {
    color: #AB1E37!important;
    color: var(--info);
}

.ngb-dp-day .bg-primary {
  background-color: #AB1E37!important;
}

.ngb-dp-navigation-chevron {
  color: #AB1E37!important;
}

.ngb-dp-navigation-select select {
  border-radius:0px!important;
}

ngb-datepicker {
  border-radius:0px!important;
}
